<div id="wrapper">
  <div id="anotherwrapper">
      <img id="headerimg" src="hellothere.jpg" alt="hello there">
    <div id="chat">
        <div id="messagebox">
            <div id="message-inner-box">
                <ul id="messages">
                    <li><b>server</b>: Welcome!!</li>
                </ul>
            </div>
        </div>
        <div id="online">
            <p>Online:</p>
            <ul id="people">
                <li><p>Carol Chen</p></li>
                <li><p>Jill Xu</p></li>
                {{#each onlines as |online|}}
                <li id="{{onlineUser}}"><p>{{onlineUser}}</p></li>
                {{/each}}
            </ul>
        </div>
        <div id="textbox">
            <form action="">
                <input id="m" autocomplete="off" type="text" name="chat" value="">
            </form>
        </div>
        <div id="options">
            <a href="/gameroom">gameroom</a>
            <a href="/leaderboard">leaderboard</a>
            <a href="/logout">logout</a>
        </div>
    </div>
  </div>
</div>
<script>
  $(function () {
    const socket = io();
    $('form').submit(function(){
      const $cont = $('#message-inner-box');
      $cont[0].scrollTop = $cont[0].scrollHeight;
      socket.emit('chat message', '<b>{{inSession}}</b>' + ": " + $('#m').val());
      $('#m').val('');
      $('#m').keyup(function(e) {
          if (e.keyCode === 13) {
              //$cont.append('<li>' + $(this).val() + '</li>');
              $cont[0].scrollTop = $cont[0].scrollHeight;
              //$('#m').val('');
          }
      })
      .focus();
      return false;
    });
    // emitting actually??
    socket.on('chat message', function(msg){
      $('#messages').append($('<li id="{{inSession}}">').html(msg));
    });
    //if someone logs in, append their username
    var online = io.connect('/');
    online.on('connect', function () {
      online.emit('person is online', "<p>{{inSession}}</p>");
    });
    //appending online person
    online.on('person is online', function(msg){
      $('#people').append($('<li id="' + online.id + '">').html(msg));
      console.log("test");
    });
    online.on('person is offline', function(msg){
      $("#people").remove('<li><p>{{inSession}}</p></li>');
      $('#' + online.id).remove()
      $('#people').append($('<li>').html("HELLO"));
      console.log("test");
    });
    //if someone logs out, find their username and remove it
  });
</script>
