<script>
const arr = [];
{{#each arrusers}}
  arr.push({
      "username": "{{{username}}}",
      "wins": {{{wins}}},
      "losses": {{{losses}}},
      "ties": {{{ties}}},
      "gamesPlayed": {{{gamesPlayed}}}
  });
{{/each}}
// for(let i = 0; i < {{{arrusers.length}}}; i++){
//   arr.push({
//       "username":  {{{arrusers.[i].username}}},
//       "wins": {{{arrusers.[i].wins}}},
//       "losses": {{{arrusers.[i].losses}}},
//       "ties": {{{arrusers.[i].ties}}},
//       "gamesPlayed": {{{arrusers.[i].gamesPlayed}}}
//   });
// }
console.log("hello", arr);
</script>
<script src='/javascripts/leaderboard.js'></script>
<body>
    <div id="wrapper">
        <div id="leaderboard">
            <h1>Leaderboard</h1>
            <table id ="leadertable">
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Won</td>
                    <td>Lost</td>
                    <td>Tied</td>
                    <td>Ratio</td>
                </tr>
            </table>
        </div>
    </div>
</body>
