<script>
const arr = [];
{{#each arrusers}}
  arr.push({
      "username": "{{{username}}}",
      "wins": {{{wins}}},
      "losses": {{{losses}}},
      "ties": {{{ties}}},
      "gamesPlayed": {{{gamesPlayed}}}
  });
{{/each}}
// for(let i = 0; i < {{{arrusers.length}}}; i++){
//   arr.push({
//       "username":  {{{arrusers.[i].username}}},
//       "wins": {{{arrusers.[i].wins}}},
//       "losses": {{{arrusers.[i].losses}}},
//       "ties": {{{arrusers.[i].ties}}},
//       "gamesPlayed": {{{arrusers.[i].gamesPlayed}}}
//   });
// }
console.log("hello", arr);
</script>
<script src='/javascripts/leaderboard.js'></script>
<body>
    <div id="wrapper">
      <div id="heading">
        <a href="/chat"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
        <a href="/gameroom"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a>
        <a href="/logout"><span class="glyphicon glyphicon-off" aria-hidden="true"></span></a>
      </div>
        <div id="leaderboard">
            <h1>Leaderboard</h1>
            <div class="alert alert-info alert-dismissible" id="oneWin" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <b>Hey!</b> you only show up here if you have at least one win.
            </div><br>
            <table id ="leadertable">
                <tr>
                    <td>Rank</td>
                    <td>Name</td>
                    <td>Won</td>
                    <td>Lost</td>
                    <td>Tied</td>
                    <td>Ratio</td>
                </tr>
            </table>
        </div>
    </div>
</body>
